server:
  port: 8090
  tomcat:
    additional-tld-skip-patterns: "*mchange-commons-java*.jar"

spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
  thymeleaf:
    enabled: true
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/web_customer_tracker?useUnicode=true&serverTimezone=UTC
    username: springstudent
    password: springstudent
    #driver-class-name: com.mysql.cj.jdbc.Driver

info:
  app:
    name: SpringRest_CRUD
    description: SpringBoot aplication with hibernate
    version: 1.0.1
management:
  endpoints:
    web:
      exposure:
        include: "*"
#        exclude: health, info
stub:
  isEnabled: false